<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">タスクの詳細</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body task-show">
      <div class="task-title">
        <%= label :task_title, "タイトル", class:"form-title"%>
        <%= task.task_title %>
      </div>
      <div class="task-details">
        <%= label :task_details, "詳細", class:"form-title"%>
        <%= task.task_details %>
      </div>
      <div>
        <%= label :start_date, :end_date, "期間", class:"form-title"%>
        <p><%= "#{task.start_date}" + "ー" + "#{task.end_date}" %></p>
      </div>
      <div>
        <%= label :task_status, "現在の状況", class:"form-title"%>
        <%= task.task_status %>
      </div>
      <!--ここからコメント機能-->
      <div>
        <div class="comments-count">
          <p id=task_<%= task.id %>>コメント数：<%= task.comments.count %></p>
          <div class="comments_container">
            <%= render 'comments/index', task: @task %>
          </div>
        </div>
        <div class="new-comment">
        <%= form_with model: Comment.new, url:comments_path  do |f| %>
          <%= f.text_field :comment, size:"40x5",class: "form-control" %>
          <%#= f.hidden_field :user_id, :value => params[:user_id] %>
          <%= f.hidden_field :task_id, :value => task.id %>
          <%= f.submit 'コメントする', class:"btn btn-secondary btn-sm my-3"%>
        <% end %>
        </div>
      </div>
      <!--ここまでコメント機能-->


      <div class="modal-footer actions">
      <%= link_to "編集する", edit_task_path(task, user_id: params[:user_id]), remote: true, class: "btn-style" %>
      <%= link_to "削除する", task_path(task, user_id: params[:user_id]), remote: true, method: :delete, class: "btn-style-delete" %>
      </div>
    </div>
  </div>
</div>