<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">タスクの詳細</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <%= label :task_title, "タイトル", class:"form-title"%>
        <%= task.task_title %>
      </div>
      <div>
        <%= label :task_details, "詳細", class:"form-title"%>
        <%= task.task_details %>
      </div>
      <div>
        <%= label :start_date, :end_date, "期間", class:"form-title"%>
        <%= "#{task.start_date}" + "ー" + "#{task.end_date}" %>
      </div>
      <div>
        <%= label :task_status, "現在の状況", class:"form-title"%>
        <%= task.task_status %>
      </div>
      <!--これからコメント機能-->
      <div>
        <div class="comments">
          <p>コメント件数：<%= @post_image.post_comments.count %></p>
          <% @post_image.post_comments.each do |post_comment| %>
            <p><%= image_tag('sample-author1.jpg') %></p>
            <%= post_comment.user.name %>
            <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
          <% end %>
        </div>
        <div class="new-comment">
        <%= form_with(model:[@post_image, @post_comment], local: true) do |f| %>
          <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
          <%= f.submit "送信する" %>
        <% end %>
        </div>
      </div>

      <div class="modal-footer actions">
      <%= link_to "編集する", edit_task_path(task, user_id: params[:user_id]), remote: true, class: "btn btn-primary" %>
      <%= link_to "削除する", task_path(task, user_id: params[:user_id]), remote: true, method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>