<% tasks.each do |task|%>
  <% if task.task_matrix = "重要で緊急でない" %>
    <%= link_to task_path(task, user_id: params[:user_id]), method: :get, remote: true do %>
    <div class="item" id="draggable" draggable="true">
      <div class="task_title"><%= task.task_title %></div>
      <div class="comment_info">
        <div class="date_and_status">
          <span class="task_date"><%= "#{task.start_date}" + "ー" + "#{task.end_date}" %></span>
          <span class="task_status"><%= task.task_status%></span>
        </div>
        <div class="task_comment_count">
          <i class="far fa-comment-alt"></i>
          <%= task.comments.count %>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
<% end %>