<div class="card my-2">
  <%= link_to notification_path(notification), class:"text-reset", remote: true do %>
  <div class="card-body">
    <div class="card-title">
      <span><%= attachment_image_tag notification.visitor, :profile_image, :fill, 30, 30, fallback: "no_image.jpg", class: "rounded-circle mx-1 my-2"%></span>
      <% if notification.task.present? %>
      <% if notification.task.user == current_user %>
        <span><%= notification.visitor.last_name + notification.visitor.first_name %></span>さんがあなたのタスクにコメントしました。
      <% else %>
        <span><%= notification.visitor.last_name + notification.visitor.first_name %></span>さんがあなたがコメントしたタスクへコメントしました。
      <% end %>
      <% end %>
      <span><%= " (#{time_ago_in_words(notification.created_at)} 前)" %></span>
    </div>
    <div  class="card-text" style="color: #C0C0C0;">
     <p>"<%= notification.comment.comment %>"</p>
    </div>
  </div>
  <% end %>
</div>

