<% my_groups.each do |my_group| %>

  <%= link_to group_path(my_group), class: "text-reset text-decoration-none" do %>
    <div class="card my-1">
      <div class="container card-body">
        <div class="row">
          <div class="col-5">
            <div><%= my_group.group_name %></div>
            <div>メンバー数 : <%= my_group.users.count %></div>
          </div>
          <div class="col-7 user-introduction">
            <% my_group.users.each do |group_user| %>
              <%= attachment_image_tag group_user, :profile_image, :fill, 50, 50, fallback: "no_image.jpg", class: "rounded-circle m-3"%>
            <% end %>
          </div>
        </div>
        <div class="row">
          <% if my_group.admin_user == current_user.id %>
            <%= link_to "グループを削除する", group_destroy_confirm_path(my_group), class: "inline-block" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>