<div class="confirm container">
  <div class="row">
    <div class="col">
      <p><%= @user.name %>さんを<%= @group.group_name %>へ追加してよろしいですか？</p>

      <div class="card my-1">
        <div class="container card-body">

          <div class="row">
            <div class="user-image col-3">
            <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "user_missing.png", class: "rounded-circle m-3"%>
            <br><span class="task-count">タスク数 : <%= @user.tasks.count %></span>
            </div>
            <div class="col-9 user-introduction">
              <div class="name">名前：<%= @user.name %></div>
              <div class="introduction">
                introduction： <br>
                <%= @user.introduction %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="member-add">
        <%= form_with url: group_path(@group), method: :patch, local:true do |f| %>
          <%= f.hidden_field :user_id, :value => @user.id %>
          <%= f.submit "追加する", class:"my-3  mx-5 btn btn-secondary btn-sm" %>
        <% end %>
      </div>

    </div>
  </div>
</div>