<div class="container">
  <div class="row">
    <div class="col">
      <h4><%= @group.group_name %></h4>
      <div>
        <h5>メンバー一覧</h5>
        <div>
          <%= render "users/index", group_users: @group_users %>
          </div>
      </div>
      <div>
        <h5>メンバーを追加する</h5>
        <%= form_with url: {controller: "groups", action: "confirm" }, local:true do |f| %>
        <p>追加したいメンバーのメールアドレスを入力してください</p>
        <%= f.email_field :email %>
        <%= f.submit "メンバーを追加する" %>
        <% end %>
      </div>
      <div>
        <%= link_to "グループ一覧へ戻る", groups_path %>
      </div>
    </div>
  </div>
</div>

