<div class="group-show container">
  <div class="row">
    <div class="col">
      <h4 class="group-name"><%= @group.group_name %></h4>
      <div>
        <h5>Member (<%= @group_users.count %>) </h5>
        <div class="group-member">
          <%= render "users/index", group_users: @group_users %>
          </div>
      </div>

      <div class="member-new">
        <h5>メンバーを追加する</h5>

        <%= form_with url: {controller: "groups", action: "confirm" }, local:true do |f| %>
        <p>追加したいメンバーのメールアドレスを入力してください</p>
        <span>email　</span><%= f.email_field :email %>
        <%= f.submit "メンバーを追加する", class:"my-3  mx-5 btn btn-secondary btn-sm" %>
        <% end %>
      </div>

      <div class="withdrawal">
        <h6>退会</h6>
        <p>※ Teamから退会するとメンバーのタスクを閲覧できなくなります。</p>
        <%= link_to "このTeamから退会する", group_withdrawal_confirm_path(@group) %>
      </div>

      <div class="back-group-index">
        <%= link_to "< Team一覧へ戻る", groups_path %>
      </div>
    </div>
  </div>
</div>

