<% group_users.each do |group_user| %>
<%= link_to tasks_path(user_id: group_user.user.id), class: "text-reset text-decoration-none" do %>
<div class="card my-1">
  <% if group_user.user == current_user %>
  <div class="card-body", style="background-color: #e6f5f8a3;" >
  <% else %>
  <div class="card-body">
  <% end %>
    <div class="row">
      <div class="user-image col-3">
      <% if group_user.user.profile_image_id.present? %>
        <% user_image_url = "https://your-manager.s3-ap-northeast-1.amazonaws.com/store/" + group_user.user.profile_image_id %>
      <% else %>
        <% user_image_url = "user_missing.png" %>
      <% end %>
      <%= image_tag user_image_url, size: "60x60", class: "mb-2 rounded-circle" %>

      <br><span class="task-count">タスク数 : <%= group_user.user.tasks.count %></span>
      </div>
      <div class="col-9 user-introduction">
        <div class="name">名前：<%= group_user.user.name %></div>
        <div class="introduction">
          introduction： <br>
          <%= group_user.user.introduction %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<% end %>
