<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-10 mx-auto mypage'>
      <h2 class="my-5">マイページ(アイコンで可愛く)</h2>
      <%= form_with model: @user, local:true do |f| %>
      <%= render 'layouts/error_messages', resource: @user %>

      <div class="container">
        <div class='row'>
          <div class="col-5">
            <div>
				      <%= attachment_image_tag @user, :profile_image, :fill, 150, 150, fallback: "user_icon.jpg", class: "my-3 rounded-circle"%>
				    </div>
				    <label>
				      アイコンを変更(デザイン後ほど)
				      <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>
				    </label>
          </div>
          <div class='col-7 profile-edit'>
            <div class="form-group">
              <p>名前</p>
              <%= f.text_field :name, :placeholder =>"#{@user.name}", class:"form-control" %>
            </div>
            <div class="form-group">
              <p>メールアドレス</p>
              <%= f.email_field :email, autocomplete: "email", :placeholder =>"#{@user.email}", class:"form-control" %>
            </div>
            <div class="form-group">
              <p>introduction</p>
              <%= f.text_area :introduction, :placeholder =>"#{@user.introduction}", class:"form-control"  %>
            </div>
          </div>
        </div>
        <div class="row">
        	<p class="mx-4">ポジション選択(これはカラムをなくすことを検討中)</p>
					<div>
  					<%#= f.radio_button :position, "メンバー", class:"mx-1" %><%#= f.label :position, "メンバー", class:"mx-1" %>
  					<%#= f.radio_button :position, "マネージャー", class:"mx-1" %><%#= f.label :position, "マネージャー", class:"mx-1" %>
  				</div>
        </div>

        <div>

        </div>

        <div class="row">
          <div class="m-1">
            <%= hidden_field_tag :user_id, params[:user_id] %>
            <%= f.submit "保存してタスク画面へ", class: "btn btn-primary mt-4"  %>
          </div>
          <div class="m-1">
            <%= link_to "グループ一覧へ", groups_path, class: "btn btn-primary mt-4" %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

