<div class='contact container px-5'>
  <h4 class="my-5">PFお問い合わせフォーム</h4>
  
  <div class="mt-5">
    <div class="row my-4">
      <span class="col-3">お名前 or ニックネーム</span>
      <span class="col-5"><%= @contact.name %></span>
    </div>
    <div class="row my-4">
      <span class="col-3">ご意見・ご感想など</span>
      <span class="col-7"><%= @contact.message %></span>
    </div>
    <div>
      <%= form_with model: @contact, url: {controller: "contacts", action: "done" }, local:true do |f| %>
        <%= f.hidden_field :name, :value => @contact.name %>
        <%= f.hidden_field :message, :value => @contact.message %>
        <%= link_to "フォーム作成画面に戻る", contacts_new_path, class: "mb-4 btn btn-outline-secondary btn-sm" %>
        <%= f.submit "送信する", class: "mb-4 btn btn-secondary btn-sm" %>
      <% end %>
    </div>
  </div>

  <div>
    <p class="note">
    　※ご投稿いただいたコメントは製作者にメールで送信されます。</br>
  　   ※お名前はニックネームで構いません。</br>
  　   ※いたずらでの投稿はご遠慮願います。
  　 </p>
　</div>

</div>
