<div class='container px-5'>
  <h4 class="my-5">PFお問い合わせフォーム</h4>
  <p>
    この度はYour Managerをご訪問いただき誠にありがとうございます。<br>
    本アプリは実際に製作者が課題として抱えていたタスク管理について、これまで身につけたプログラミング力で解決したいという思いで作成しました。<br>
    「こんな機能があったら良いのに。」や「ここは改善したほうがいい！」等、ご意見・ご感想がありましたら、ぜひコメントにてお知らせいただけますと幸いです。<br>
    今後の作品改善や学習に取り入ていきたいと思います。
  </p>
  <%= form_with model: @contact, url: {controller: "contacts", action: "confirm" }, local:true do |f| %>
    <div>
      <%= f.label "お名前 or ニックネーム" %>
      <%= f.text_field :name %>
    </div>
    <div>
      <%= f.label "ご意見・ご感想など" %>
      <%= f.text_area :message %>
    </div>
    <%= f.submit "送信" %>
  <% end %>
  <p>※ご投稿いただいたコメントは製作者にメールで送信されます</p>
　<p>※お名前はニックネームで構いません</p>

</div>

