      <% @tasks.each do |task|%>
      <div id='inputScheduleEditForm<%= task.id %>' class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">タスクの詳細</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body container">
              <div class="row">
                <span class="col-2 offset-1"><%= label :task_title, "タイトル"%></span>
                <span class="col-7"><%= task.task_title %></span>
              </div>
              <div>
                <%= label :task_details, "詳細", class:"form-title"%>
                <%= task.task_details %>
              </div>
              <div>
                <%= label :start_date, :end_date, "期間", class:"form-title"%>
                <%= "#{task.start_date}" + "ー" + "#{task.end_date}" %>
              </div>
              <div>
                <%= label :task_status, "現在の状況", class:"form-title"%>
                <%= task.task_status %>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>