<div class="container sidebar-content">
  <div class="row my-3">
    <%= attachment_image_tag @user, :profile_image, :fill, 150, 150, fallback: "no_image.jpg", class: "rounded-circle mx-3 my-3"%>
    <%= link_to edit_user_path(current_user) do %>
      <i class="fas fa-cog fa-lg" style="color: gray;"></i>
    <% end %>
  </div>
  <div>
    <span class="col-3">name:</span>
    <span class="col-4"><%= @user.name %></span>
  </div>
  <div>
    <span  class="col-5">
      <% if @user.position == "マネージャー" %>
        <span class="btn btn-outline-warning btn-sm">マネージャー</span>
      <% end %>
    </span>
  </div>
  <div class="row my-3">
    <%= render "routines/routine", routine_tasks: @routine_tasks %>
  </div>
  <% if @user == current_user %>
  <div>
    <%= link_to "New Daily Task", routines_path(user: @user) %>
  </div>
  <% end %>
</div>