
<h6>Total <%= user.tasks.count %> Tasks</h6>
<div class="fusen pink">重要 x 緊急でない (<%= user.tasks.where(task_matrix: "重要で緊急でない").count %>)</div>
<div class="fusen red">重要 x 緊急 (<%= user.tasks.where(task_matrix: "重要かつ緊急").count %>)</div>
<div class="fusen blue">重要でない x 緊急でない (<%= user.tasks.where(task_matrix: "重要でないかつ緊急でない").count %>)</div>
<div class="fusen yellow">重要でない x 緊急 (<%= user.tasks.where(task_matrix: "重要でなく緊急").count %>)</div>
