<!DOCTYPE html>
<html>
  <head>
    <title>YourManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/core/main.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/4.2.0/daygrid/main.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color: #f9f7f5;">
    <%= render 'layouts/header' %>
      <main>
        <div class="time-limit">
        <%= render 'layouts/flashes' %>
        </div>


        <%= yield %>
      </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
